@import url('https://fonts.googleapis.com/css2?family=Montez&display=swap');


/* #console{
    overflow-y: scroll;
    scrollbar-color: #222222 #000;
} */

.scrollbar-style::-webkit-scrollbar-track {
  background: #dddddd; /* Set the background color of the track */
}


#dottedLines {
    animation: move-line 2s linear infinite;
}

@keyframes move-line {
    0% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: -100;
    }
}


.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.input {
    height: 45px;
    border: none;
    outline: none;
    padding: 0px 7px;
    border-radius: 6px;
    color: #fff;
    font-size: 15px;
    background-color: transparent;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
        -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.input:focus {
    border: 2px solid transparent;
    color: #fff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
        -1px -1px 6px rgba(255, 255, 255, 0.4),
        inset 3px 3px 10px rgba(0, 0, 0, 1),
        inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.container .input:valid,
.container .input:focus {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
        -1px -1px 6px rgba(255, 255, 255, 0.4),
        inset 3px 3px 10px rgba(0, 0, 0, 1),
        inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.parent {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
        -1px -1px 6px rgba(255, 255, 255, 0.4),
        inset 3px 3px 10px rgba(0, 0, 0, 1),
        inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.create {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #ff00ff;

}

.create:hover {
    cursor: pointer;
    border: 1px solid rgb(248, 152, 219);
    box-shadow: 3px 3px 10px rgba(243, 45, 184, 1),
        -1px -1px 6px rgba(178, 88, 224, 0.4),
        inset 1px 1px 5px rgba(243, 45, 184, 1),
        inset -1px -1px 2px rgba(178, 88, 224, 0.4);
}

.spinner {
    border: 4px solid #212121;
    border-top: 4px solid #f9acff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.success::before {
    color: greenyellow;
    content: "\2714";
}

.fail::before {
    content: "\274C";
    /* Unicode value for a cross mark symbol */
}

.explore {
    background-color: #10bebe;

}

.explore:hover {
    cursor: pointer;
    border: 1px solid rgb(88, 241, 255);
    box-shadow: 3px 3px 10px rgb(99, 255, 252),
        -1px -1px 6px rgba(129, 98, 239, 0.4),
        inset 1px 1px 5px rgb(88, 241, 255),
        inset -1px -1px 2px rgba(199, 94, 251, 0.4);
}

.heading {
    font-family: 'Montez', cursive;
    font-size: 4rem;
}

.radio {
    -webkit-appearance: none;
    /* remove default */
    display: block;

    margin: 10px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    cursor: pointer;

    box-shadow: hsla(0, 0%, 100%, .15) 0 1px 1px, inset hsla(0, 0%, 0%, .5) 0 0 0 1px;
    background-color: hsla(0, 0%, 0%, .2);
    background-image: -webkit-radial-gradient(hsla(200, 100%, 90%, 1) 0%, hsla(200, 100%, 70%, 1) 15%, hsla(200, 100%, 60%, .3) 28%, hsla(200, 100%, 30%, 0) 70%);
    background-repeat: no-repeat;
    -webkit-transition: background-position .15s cubic-bezier(.8, 0, 1, 1),
        -webkit-transform .25s cubic-bezier(.8, 0, 1, 1);
    outline: none;
}

.radio:checked {
    -webkit-transition: background-position .2s .15s cubic-bezier(0, 0, .2, 1),
        -webkit-transform .25s cubic-bezier(0, 0, .2, 1);
}

.radio:active {
    -webkit-transform: scale(1.5);
    -webkit-transition: -webkit-transform .1s cubic-bezier(0, 0, .2, 1);
}



/* The up/down direction logic */

.radio,
.input:active {
    background-position: 0 24px;
}

.radio:checked {
    background-position: 0 0;
}

.radio:checked~.radio,
.radio:checked~.radio:active {
    background-position: 0 -24px;
}


.imageLoading {
    background-image: linear-gradient(rgb(186, 66, 255) 35%, rgb(0, 225, 255));
    width: 50px;
    height: 50px;
    animation: spinning82341 1.7s linear infinite;
    text-align: center;
    border-radius: 50%;
    filter: blur(1px);
    box-shadow: 0px -5px 20px 0px rgb(186, 66, 255), 0px 5px 20px 0px rgb(0, 225, 255);
}

.imageLoading1 {
    background-color: rgb(36, 36, 36);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    filter: blur(5px);
}



@keyframes spinning82341 {
    to {
        transform: rotate(360deg);
    }
}