.container {
    padding: 10px;
    margin: 10px 10px 0 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

}

.creditCard {
    margin: 10px;
    background-color: #202123;
    color : #fff;
    border: 1px solid #333333;
}

.creditCard:hover{
 box-shadow: 0px 0px 30px 1px #c17171;
 border-radius: 10px;
 border-color: #f48f8f;
}

.cardButton {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #f48f8f;
}


.cardButton:hover {
    cursor: pointer;
    background-color: #c17171 ;
}


.circle {
    border: 4px solid #6b64f3;
    border-top: 4px solid #0c0924;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.success::before {
    color: greenyellow;
    content: "\2714";
}

.fail::before {
    content: "\274C";
    /* Unicode value for a cross mark symbol */
}



.cardInput {
    border: 2px solid #f48f8f;
    border-radius: 10px;
    padding: 10px 25px;
    background: transparent;
    max-width: 190px;
    color : white;
}

.cardInput:focus {
    outline: none;
    /* Change border color on focus */
}

.cardInput::-webkit-outer-spin-button,
.cardInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    /* Remove up/down arrows */
    margin: 0;
    /* Remove margin */
}

.cardInput[type="number"] {
    -moz-appearance: textfield;
    /* Remove up/down arrows on Firefox */
}

.cardInput::-webkit-input-placeholder {
    /* Customize placeholder color */
    color: #8C8C8C;
}